@tailwind base;
@tailwind components;
@tailwind utilities; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    @apply bg-slate-300;
}
.BVV {
      text-transform: uppercase;
    }
h1 {
    @apply text-slate-800 font-bold;
    -webkit-text-stroke: 2px black;
}

a {
    @apply dark:bg-slate-700 bg-slate-400 p-2 border-solid border-2 border-slate-900  rounded-md  shadow-[0_0_10px_black] hover:border-slate-600 hover:shadow-lightspot;
}

@layer utilities {
    .padding{
        @apply sm:px-16 px-1 sm:py-24 py-2;
    }
    .padding-x {
        @apply sm:px-16 px-8;
      }
    .brian {
        @apply font-bold underline
    }

    
}