@tailwind base;
@tailwind components;
@tailwind utilities; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hoverSpotlight{
    @apply border-solid border-2 border-slate-900  rounded-md  shadow-[0_0_10px_black] hover:border-slate-600 hover:shadow-lightspot;
    
}

@layer utilities {
    .colorBackground{
        @apply dark:bg-slate-700  bg-slate-400 
    }
    .colorBackgroundOpposite{
        @apply dark:bg-slate-400 bg-slate-700   
    }
    .colorText{
        @apply dark:text-slate-900 text-gray-200
    }
    .colorTextOpposite{
        @apply dark:text-slate-200 text-gray-900
    }





    /* WHERE??? */
    .brian {
        @apply font-bold underline
    }

    
}